---
import type { PostListItem } from "@components/sections/ArticleList.astro";
import { Icon } from "astro-icon/components";
import TagList from "./TagList.astro";

interface Props {
  post: PostListItem
}

const { post: { title, description, slug, date, tags } } = Astro.props;
---

<div
  aria-label="Article Card"
  class="group p-5 bg-base-200 rounded-2xl"
>
  <div>
    <a href={`/${slug}`} class="font-semibold link link-hover text-primary text-lg sm:text-xl md:text-2xl font-lora">
      {title}
    </a>
    <div class="mt-4 space-y-3">
      <p class="line-clamp-2">
        {description}
      </p>
      <div class="flex items-center gap-2 text-muted">
        <Icon name="mdi:calendar" class="size-5" />
        <p aria-label="Date" class="text-sm">{date}</p>
      </div>
    </div>
    <TagList {tags} class="mt-4" />
  </div>
  <a href={`/${slug}`} class="btn btn-outline btn-primary rounded-full mt-6">
    Baca selengkapnya
  </a>
</div>
