---
import facebook from "@assets/social-icons/facebook.png";
import twitterX from "@assets/social-icons/twitter-x.png";
import linkedin from "@assets/social-icons/linkedin.png";
import telegram from "@assets/social-icons/telegram.png";
import whatsApp from "@assets/social-icons/whatsapp.png";
import pinterest from "@assets/social-icons/pinterest.png";
import ShareMoreButton from "./ShareMoreButton.svelte";
import { Image } from "astro:assets";

interface Props {
  imageUrl: string;
  title: string;
  description: string;
}

const { imageUrl, title, description } = Astro.props;

const canonicalUrl = Astro.url.href;
const textTemplate = `${title}\n\n${description}\n\n${canonicalUrl}`;

const socials = [
  {
    name: "WhatsApp",
    href: `https://api.whatsapp.com/send?text=${canonicalUrl}`,
    icon: whatsApp,
  },
  {
    name: "X",
    href: `https://twitter.com/intent/tweet?url=${canonicalUrl}&text=${textTemplate}`,
    icon: twitterX,
  },
  {
    name: "LinkedIn",
    href: `https://www.linkedin.com/sharing/share-offsite/?url=${canonicalUrl}`,
    icon: linkedin,
  },
  {
    name: "Facebook",
    href: `https://facebook.com/sharer/sharer.php?u=${canonicalUrl}`,
    icon: facebook,
  },
  {
    name: "Telegram",
    href: `https://t.me/share/url?url=${canonicalUrl}&text=${textTemplate}`,
    icon: telegram,
  },
  {
    name: "Pinterest",
    href: `https://pinterest.com/pin/create/button/?url=${canonicalUrl}&media=${imageUrl}&description=${description}`,
    icon: pinterest,
  },
];
---

<div class="flex items-center justify-center gap-4 flex-wrap">
  {
    socials.map(({ name, href, icon }) => (
      <a
        {href}
        class="tooltip tooltip-bottom"
        data-tip={name}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image loading="lazy" width={32} height={32} class="size-8" src={icon} alt={name} />
      </a>
    ))
  }
  <ShareMoreButton client:load {title} {description} {canonicalUrl} />
</div>
