---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
import siteConfig from "@site-config";
import mainHero from "@assets/heroes/main-1.webp";
import { Image } from "astro:assets";
import SocialMediaRow from "@components/SocialMediaRow.astro";
import ScrollDownIcon from "@components/ScrollDownIcon.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import AboutSection from "@components/sections/About.astro";
import { Schema } from "astro-seo-schema";
---

<Layout>
  <Schema
    slot="head"
    item={{
      "@context": "https://schema.org",
      "@type": "WebSite",
      name: siteConfig.name,
      description: siteConfig.description,
      url: siteConfig.origin,
    }}
  />
  <Schema
    slot="head"
    item={{
      "@context": "https://schema.org",
      "@type": "WebPage",
      name: `${siteConfig.title} — ${siteConfig.name}`,
      url: siteConfig.origin,
      description: siteConfig.description,
      author: {
        "@type": "Person",
        name: siteConfig.author,
        url: `${siteConfig.origin}/about`,
      },
      publisher: {
        "@type": "Organization",
        name: siteConfig.name,
        url: siteConfig.origin,
      },
      mainEntity: {
        "@type": "Person",
        name: siteConfig.author,
        url: `${siteConfig.origin}/about`,
      },
    }}
  />
  <section
    class="py-5 min-h-dvh grid place-items-center bg-gradient-to-b from-primary/20 relative"
  >
    <Container>
      <div class="max-w-3.5xl mx-auto">
        <div
          class="flex items-center justify-between gap-12 flex-col md:flex-row"
        >
          <div class="text-center md:text-left">
            <div class="space-y-1 mb-5">
              <p
                class="uppercase text-primary tracking-wider font-semibold md:text-lg lg:text-xl"
              >
                Halo, Saya {siteConfig.author}. 👋
              </p>
              <h1
                class="text-3xl font-bold md:text-4xl lg:text-5xl leading-normal font-lora text-balance"
              >
                Developer. Designer. Writer. Enthusiast.
              </h1>
            </div>
            <SocialMediaRow class="justify-center md:justify-start" />
          </div>
          <div class="avatar">
            <div
              class="ring-primary ring-offset-base-100 size-56 md:size-64 lg:size-72 aspect-square rounded-full ring-2 md:ring-4 ring-offset-4"
            >
              <Image
                class="aspect-square size-full rounded-full object-cover"
                src={mainHero}
                alt="Main Hero"
                loading="eager"
                fetchpriority="high"
              />
            </div>
          </div>
        </div>
        <ScrollDownIcon />
      </div>
    </Container>
  </section>
  <BaseLayout class="min-h-dvh">
    <AboutSection />
  </BaseLayout>
</Layout>
