---
import "../styles/global.css";
import { SEO } from "astro-seo";
import GoogleAnalytics from "@astro-kits/google-analytics";
import siteConfig from "@site-config";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { Schema } from "astro-seo-schema";
---

<!doctype html>
<html lang="en" data-theme="forest">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title=`${siteConfig.title} — ${siteConfig.name}`
      description={siteConfig.description}
      openGraph={{
        basic: {
          title: siteConfig.title,
          type: "website",
          image: "/favicon.svg",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@MohamadAdithya",
        title: siteConfig.title,
        description: siteConfig.description,
        image: "/favicon.svg",
      }}
      extend={{
        link: [
          {
            rel: "alternate",
            type: "application/rss+xml",
            title: `${siteConfig.title} RSS Feed`,
            href: new URL("rss.xml", Astro.site).href,
          },
          {
            rel: "sitemap",
            type: "application/xml",
            title: "Sitemap",
            href: new URL("sitemap-index.xml", Astro.site).href,
          },
        ],
      }}
    />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: siteConfig.name,
        description: siteConfig.description,
        url: siteConfig.origin,
        author: {
          "@type": "Person",
          name: siteConfig.author,
        },
      }}
    />
    <GoogleAnalytics />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap"
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <main class="font-inter">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
